@tailwind base;
@tailwind components;
@tailwind utilities;

@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #18223c;
}

/**h1 {
  font-family: 'Proxima Nova', sans-serif;
}

h3,
p {
  font-family: Arial, Helvetica, sans-serif;
}**/

.bg-circle-lg {
  width: calc(100vh / 1.2);
  height: calc(100vh / 1.2);
}

.bg-circle-xl {
  width: calc(100vh / 0.7);
  height: calc(100vh / 0.7);
}

.bg-circle-2xl {
  width: calc(100vh / 0.5);
  height: calc(100vh / 0.5);
}

.bg-circle-base {
  width: calc(100vh / 1.5);
  height: calc(100vh / 1.5);
}

/*Article*/
.media-scroller {
  --_spacer: 1rem;
  grid-auto-columns: 23%;
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */

  scrollbar-width: none;
  scroll-padding-inline: var(--_spacer, 1rem);
}

.media-scroller::-webkit-scrollbar {
  display: none;
}