@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

body {
    overflow-x: hidden;
    background-color: #333333;
}

.bg-circle-1 {
    width: 800px;
    height: 800px;
}

.bg-circle-2 {
    width: 1200px;
    height: 1200px;
}


/*Article*/
.media-scroller {
    --_spacer: 1rem;
    grid-auto-columns: 23%;
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */

    scrollbar-width: none;
    /* scroll padding */
    scroll-padding-inline: var(--_spacer, 1rem);
}

.media-scroller::-webkit-scrollbar {
    display: none;
}